<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekplus.java.oms.dao.UserMapper">

    <select id="selectByName" resultType="User">
        select id, username, password
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (username, password)
        values(#{username}, #{password})
    </insert>

</mapper>